
.App {
  text-align: center;
background-color: #282c34;
}
.App-body{
    /* background-color: #282c34; */
     min-height: 100vh;
     align-items: middle;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  display: flex;
  -flex-direction: column;
  -align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.logoStyle {
    align-items:middle;
    align-content: middle;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sm{
    margin-top:46px;
}
